@import url("https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;900&display=swap");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #ff2525;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ff5887'/%3E%3Cstop offset='1' stop-color='%23ff5887' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ff822b'/%3E%3Cstop offset='1' stop-color='%23ff822b' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ff725e'/%3E%3Cstop offset='1' stop-color='%23ff725e' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FF2525'/%3E%3Cstop offset='1' stop-color='%23FF2525' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FF8ACD'/%3E%3Cstop offset='1' stop-color='%23FF8ACD' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FFDA32'/%3E%3Cstop offset='1' stop-color='%23FFDA32' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100vw - 5%);
  height: 100vh;
  margin: 0 auto;
}
.container .productContainer {
  max-width: 1200px;
  height: 600px;
  border-radius: 20px;
  background-color: rgba(242, 242, 242, 0.52);
  display: flex;
  box-shadow: 3px 3px 33px 0 #232323;
}
.container .productContainer .productLeft {
  flex: 5;
  height: 600px;
}
.container .productContainer .productLeft .productImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
  border-radius: 20px 0 0 20px;
}
.container .productContainer .productLeft .productImage.active {
  display: block;
}
.container .productContainer .productRight {
  flex: 7;
  height: 600px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.container .productContainer .productRight .productTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .productContainer .productRight .productTop .productTitle {
  font-weight: 800;
  text-shadow: 2px 2px 4px #4c4c4c;
}
.container .productContainer .productRight .productTop .productRating .productRatingImg {
  width: 30px;
  height: 30px;
  fill: pink;
  stroke-width: 1px;
  stroke: black;
}
.container .productContainer .productRight .productTop .productRating .productRatingImg.empty,
.container .productContainer .productRight .productTop .productRating .productRatingImg .empty {
  --color-1: pink;
  --color-2: pink;
}
.container .productContainer .productRight .productTop .productRating .productRatingImg.halfed,
.container .productContainer .productRight .productTop .productRating .productRatingImg .halfed {
  --color-1: black;
  --color-2: pink;
}
.container .productContainer .productRight .productTop .productRating .productRatingImg.filled,
.container .productContainer .productRight .productTop .productRating .productRatingImg .filled {
  --color-1: black;
  --color-2: black;
}
.container .productContainer .productRight .productPrice {
  display: flex;
}
.container .productContainer .productRight .productPrice .productPriceLabel {
  font-weight: 300;
}
.container .productContainer .productRight .productPrice .productPriceNormal {
  padding-left: 10px;
  text-decoration: line-through;
}
.container .productContainer .productRight .productPrice .productPricePromo {
  margin-left: 20px;
  padding-left: 5px;
  padding-right: 5px;
  color: red;
  font-weight: 700;
  transform: rotate(10deg) scale(1.3);
  box-shadow: 0 0 1px black;
  text-align: center;
  background-color: #ffffff59;
}
.container .productContainer .productRight .productDescription {
  flex: 100;
  padding-top: 10px;
  filter: drop-shadow(1px 2px 5px black);
}
.container .productContainer .productRight .productForm {
  flex: 100;
  filter: drop-shadow(1px 2px 5px black);
}
.container .productContainer .productRight .productForm .productFormSelectWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .productContainer .productRight .productForm .productFormSelectWrapper + .productFormSelectWrapper {
  padding-top: 20px;
}
.container .productContainer .productRight .productForm .productFormSelectWrapper .productFormSelect {
  width: 100%;
  height: 30px;
  padding: 0 10px;
  border: 0;
  border-radius: 5px;
}
.container .productContainer .productRight .productForm .productFormSelectWrapper .productFormSelect:focus {
  outline: none;
}
.container .productContainer .productRight .productForm .productFormSelectWrapper .productFromSelectPrice {
  width: 110px;
  text-align: right;
}
.container .productContainer .productRight .productForm .productFormSelectWrapper .productFromPriceLabel {
  width: 100%;
  text-align: right;
  padding-right: 10px;
}
.container .productContainer .productRight .productForm .productFormSelectWrapper .productFromPriceTotal {
  width: 100px;
  text-align: right;
  transform: scale(1.2) translateX(-5px);
}
.container .productContainer .productRight .productActions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  filter: drop-shadow(1px 2px 5px black);
}
.container .productContainer .productRight .productActions .productAddCart .productAddCartButton {
  background-image: linear-gradient(to right, #ff2726 0%, #ff9f3b 51%, #ff2726 100%);
  margin: 10px;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: black;
  border-radius: 10px;
  display: block;
  cursor: pointer;
  border: none;
}
.container .productContainer .productRight .productActions .productAddCart .productAddCartButton:hover {
  background-position: right center;
  /* change the direction of the change here */
  text-decoration: none;
  transform: scale(1.05);
}
.container .productContainer .productRight .productActions .productShare {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
}
.container .productContainer .productRight .productActions .productShare .productShareIcon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.5s ease;
}
.container .productContainer .productRight .productActions .productShare .productShareIcon:hover {
  transform: scale(1.2);
  box-shadow: 0 0 5px 2px #f2f2f2;
}
