$heightContainer: 600px;
$brContainer: 20px;

$pink: #ff69b4;
$white: #f2f2f2;

body {
    background-color: #ff2525;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ff5887'/%3E%3Cstop offset='1' stop-color='%23ff5887' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ff822b'/%3E%3Cstop offset='1' stop-color='%23ff822b' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ff725e'/%3E%3Cstop offset='1' stop-color='%23ff725e' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FF2525'/%3E%3Cstop offset='1' stop-color='%23FF2525' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FF8ACD'/%3E%3Cstop offset='1' stop-color='%23FF8ACD' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FFDA32'/%3E%3Cstop offset='1' stop-color='%23FFDA32' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

.container {
    @include center(center);
    width: calc(100vw - 5%);
    height: 100vh;
    margin: 0 auto;

    .productContainer {
        max-width: 1200px;
        height: $heightContainer;
        border-radius: $brContainer;
        background-color: rgba($white, 0.52);
        display: flex;
        box-shadow: 3px 3px 33px 0 #232323;

        .productLeft {
            // width: 500px;
            flex: 5;
            height: $heightContainer;

            .productImage {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: none;
                border-radius: $brContainer 0 0 $brContainer;

                &.active {
                    display: block;
                }
            }
        }

        .productRight {
            // width: 700px;
            flex: 7;
            height: $heightContainer;
            padding: 20px;
            display: flex;
            flex-direction: column;

            .productTop {
                @include center(space-between);

                .productTitle {
                    font-weight: 800;
                    text-shadow: 2px 2px 4px #4c4c4c;
                }

                .productRating {
                    .productRatingImg {
                        width: 30px;
                        height: 30px;
                        fill: pink;
                        stroke-width: 1px;
                        stroke: black;

                        &.empty,
                        .empty {
                            --color-1: pink;
                            --color-2: pink;
                        }

                        &.halfed,
                        .halfed {
                            --color-1: black;
                            --color-2: pink;
                        }

                        &.filled,
                        .filled {
                            --color-1: black;
                            --color-2: black;
                        }
                    }
                }
            }

            .productPrice {
                display: flex;
                .productPriceLabel {
                    font-weight: 300;
                }
                .productPriceNormal {
                    padding-left: 10px;
                    text-decoration: line-through;
                }
                .productPricePromo {
                    margin-left: 20px;
                    padding-left: 5px;
                    padding-right: 5px;
                    color: red;
                    font-weight: 700;
                    transform: rotate(10deg) scale(1.3);
                    box-shadow: 0 0 1px black;
                    text-align: center;
                    background-color: #ffffff59;
                }
            }

            .productDescription {
                flex: 100;
                padding-top: 10px;
                filter: drop-shadow(1px 2px 5px black);
            }

            .productForm {
                flex: 100;
                filter: drop-shadow(1px 2px 5px black);

                .productFormSelectWrapper {
                    @include center(space-between);

                    & + .productFormSelectWrapper {
                        padding-top: 20px;
                    }

                    .productFormSelect {
                        width: 100%;
                        height: 30px;
                        padding: 0 10px;
                        border: 0;
                        border-radius: 5px;

                        &:focus {
                            outline: none;
                        }
                    }

                    .productFromSelectPrice {
                        width: 100px;
                        text-align: right;
                    }

                    .productFromPriceLabel {
                        width: 100%;
                        text-align: right;
                    }

                    .productFromPriceTotal {
                        width: 100px;
                        text-align: right;
                        transform: scale(1.2) translateX(-5px);
                    }
                }
            }

            .productActions {
                @include center(space-between);
                filter: drop-shadow(1px 2px 5px black);

                .productAddCart {
                    .productAddCartButton {
                        padding: 20px;
                    }
                }

                .productShare {
                    @include center(space-between);
                    width: 300px;

                    .productShareIcon {
                        @include circle(50);
                        cursor: pointer;
                        transition: transform 0.5s ease;

                        &:hover {
                            transform: scale(1.2);
                            // border: 3px solid $pink;
                            box-shadow: 0 0 5px 2px $white;
                        }
                    }
                }
            }
        }
    }
}
